.jtyper-code {
  margin: 0;
  height: 100%;
  padding: 0px;
}

.CodeMirror {
  min-height: 32px;
  height: auto;
  width: calc(100% - 2px);
  background-color: whitesmoke;
}

.CodeMirror-scroll>div:nth-last-child(2) {
  display: none;
}
.CodeMirror-scroll {
  height: calc(100% - 2px);
}